<!DOCTYPE html>
<html>
<head>
	<title>Lista de Términos Excluyentes {{ user.user }}</title>
	{% include 'header.html' %}
</head>
<body>
	    <table class="row responsive" style="width:80%">
        <thead>
          <tr>
              <th width="20%">ID</th>
              <th width="30%">Nombre</th>
              <th width="30%">Término</th>
          </tr>
          <tr>
          		<form action="#" method="GET">
              	<th>

    			</th>
              	<th>
              		<input placeholder="Nombre" name="filter_nombre"  id="filter_nombre" type="text" class="validate" value="{{filter_nombre}}">
              	</th>
              	<!--th>
              	    <input placeholder="Termino padre" id="filter_padre" type="text" class="validate">
              	</th-->
                <th>
                    <input placeholder="Término" name="filter_termino" id="filter_termino" value="{{filter_termino}}" type="text" class="validate">
                </th>
              	<th>
					<button class="btn waves-effect waves-light" type="submit" name="action">
				    	<i class="material-icons right">send</i>
				  	</button>

              	</th>
              </form>
          </tr>
        </thead>

        <tbody>
          {% for t in terminos %}
          <tr>
            <td><a href="/excluyente/{{t.id}}">{{t.id}}</td>
            <td>{{t.nombre}}</td>
            <td>{{t.get_termino()}}</td>

          </tr>
          {% endfor %}
        </tbody>
      </table>


    <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" style="position: fixed;bottom: 30px;right: 30px;" href="/excluyente/add">
        <i class="material-icons">add</i>

  

	

	<!--p> Perfil de usuario {{ user }} </p>
	<a href="/logout">Logout</a-->
</body>
</html>