<!DOCTYPE html>
<html>
<head>
	<title>{{ user.user }} | Imagenes</title>
	{% include 'header.html' %}
</head>
<body>
	    <div class="row responsive" style="width:80%">
          {% from "_loginform.html" import render_field, render_field2, render_select, render_field_disable, render_file %}
              <form method="POST" action="#" enctype="multipart/form-data" >
              <input type="hidden" name ="csrf_token" value="{{ csrf_token() }}">
              {% if termino != None %}
              {{ render_field_disable(termino.idfotos, "ID Imagen") }}
              {% endif %}
              {{ render_file(form.foto, termino.foto) }}
              {{ render_select(form.categorias) }}
              
              <button class="btn-floating btn-large halfway-fab waves-effect waves-light teal" style="position: fixed;bottom: 30px;right: 30px;" href="">
                <i class="material-icons">save</i>
              </button>
              
              </form>
       
              {% if termino != None %}
              <span><b>Vista Previa:</b></span>
              <div> <img src="data:image/png;base64,{{ruta|format}}" width="60%"></div>
              <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" style="position: fixed;bottom: 30px;left: 30px;" href="/imagen/borrar/{{termino.idfotos}}/">
                <i class="material-icons">delete</i>
              </a>
              {% endif %}
       </div>
	<!--p> Perfil de usuario {{ user }} </p>
	<a href="/logout">Logout</a-->
</body>
<script>
 $(document).ready(function(){
  $('#categorias').val({{termino.categoria}});
  $('#terminos').val({{termino.padre}});
    $('select').formSelect();
  });
</script>

</html>