<!DOCTYPE html>
<html>
<head>
	<title>  Lista de Categorias {{ user.user }}</title>
	{% include 'header.html' %}
</head>
<body>
	    <table class="row responsive" style="width:80%">
        <thead>
          <tr>
              <th width="20%">ID</th>
              <th>Nombre</th>
              <th>Numero de fotos</th>
              
          </tr>
          <tr>
          		<form action="#" method="GET">
              	<th>
          			<input placeholder="ID" id="filter_id" name="filter_id" type="number" class="validate" value="{{filter_id}}">
    			</th>
              	<th>
              		<input placeholder="Nombre" id="filter_nombre" name="filter_nombre" type="text" class="validate" value="{{filter_nombre|default('')}}">
              	</th>
              	<th>
					<button class="btn waves-effect waves-light" type="submit" name="action2">
				    	<i class="material-icons right">send</i>
				  	</button>

              	</th>
              </form>
          </tr>
        </thead>

        <tbody>
          {% for t in terminos %}
          <tr>
            <td><a href="/categoria/{{t.id}}/">{{t.id}}</a></td>
            <td>{{t.nombre_categoria}}</td> 
            <td>{{t.contar_fotos()}}</td>           
          </tr>
          {% endfor %}
        </tbody>
      </table>


    <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" style="position: fixed;bottom: 30px;right: 30px;" href="/categoria/add">
        <i class="material-icons">add</i>

  

	

	<!--p> Perfil de usuario {{ user }} </p>
	<a href="/logout">Logout</a-->
</body>
</html>