<!DOCTYPE html>
<html>
<head>
	<title>{{ user.user }} | Término</title>
	{% include 'header.html' %}
</head>
<body>
	    <div class="row responsive" style="width:80%">
          {% from "_loginform.html" import render_field, render_field2, render_select, render_select2, render_field_disable %}
              <form method="POST" action="#">
              <input type="hidden" name ="csrf_token" value="{{ csrf_token() }}">
              {% if termino != None %}
              {{ render_field_disable(termino.idterminos, "ID Termino") }}
              {% endif %}
              {{ render_field2(form.nombre, termino.nombre) }}
              {{ render_select(form.categorias) }}
              {{ render_select(form.terminoPadre) }}

              <button class="btn-floating btn-large halfway-fab waves-effect waves-light teal" style="position: fixed;bottom: 30px;right: 30px;" href="">
                <i class="material-icons">save</i>
              </button>
              
              </form>
        </div>
              {% if termino != None %}
              <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" style="position: fixed;bottom: 30px;left: 30px;" href="/termino/borrar/{{termino.idterminos}}/">
                <i class="material-icons">delete</i>
              </a>
              {% endif %}
	<!--p> Perfil de usuario {{ user }} </p>
	<a href="/logout">Logout</a-->
</body>
<script>
 $(document).ready(function(){
  $('#categorias').val({{termino.categoria}});
    $('select').formSelect();
    //$('select').attr('multiple','multiple');
  });
</script>

</html>