<!DOCTYPE html>
<html>
<head>
	<title>Lista de Términos {{ user.user }}</title>
	{% include 'header.html' %}
</head>
<body>
	    <table class="row responsive" style="width:80%">
        <thead>
          <tr>
              <th width="20%">ID</th>
              <th width="30%">Nombre</th>
              <th width="30%">Categoria</th>
          </tr>
          <tr>
          		<form action="#" method="GET">
              	<th>
          			<input placeholder="ID" name="filter_id" id="filter_id" type="number" class="validate" value="{{filter_id}}">
    			</th>
              	<th>
              		<input placeholder="Nombre" name="filter_nombre"  id="filter_nombre" type="text" class="validate" value="{{filter_nombre}}">
              	</th>
              	<!--th>
              	    <input placeholder="Termino padre" id="filter_padre" type="text" class="validate">
              	</th-->
                <th>
                    <input placeholder="Categoria" name="filter_categoria" id="filter_categoria" value="{{filter_categoria}}" type="text" class="validate">
                </th>
              	<th>
					<button class="btn waves-effect waves-light" type="submit" name="action">
				    	<i class="material-icons right">send</i>
				  	</button>

              	</th>
              </form>
          </tr>
        </thead>

        <tbody>
          {% for t in terminos %}
          <tr>
            <td><a href="/termino/{{t.idterminos}}">{{t.idterminos}}</td>
            {% if t.get_padre() != '---' %}
            <td>{{t.nombre}} ({{t.get_padre()}})</td>
            {% else %}
            <td>{{t.nombre}}</td>
            {% endif %}
            <td>{{t.get_categoria()}}</td>

          </tr>
          {% endfor %}
        </tbody>
      </table>


    <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" style="position: fixed;bottom: 30px;right: 30px;" href="/termino/add">
        <i class="material-icons">add</i>

  

	

	<!--p> Perfil de usuario {{ user }} </p>
	<a href="/logout">Logout</a-->
</body>
</html>