{% macro render_field(field) %}
	<div class="row">
        <div class="input-field">
	{{ field.label(class_="validate", style="color:white") }}
	{{ field(**kwargs)|safe }}

		</div>
	</div>

	{% if field.errors %}
	
		{% for error in field.errors %}
		<span>{{ error }}</span><br>
		{% endfor %}
	
	{% endif %}
{% endmacro %}

{% macro render_field2(field, value) %}
	<div class="row">
        <div class="input-field">
	{{ field.label(class_="validate") }}
	{{ field(value=value) }}
		</div>
	</div>

	{% if field.errors %}
	
		{% for error in field.errors %}
		<span>{{ error }}</span><br>
		{% endfor %}
	
	{% endif %}
{% endmacro %}

{% macro render_field_disable(field, label) %}
	<div class="row">
        <div class="input-field">
    <input disabled value="{{field|safe}}" id="disabled" type="text" class="validate">
          <label for="disabled">{{label}}</label>
		</div>
	</div>
{% endmacro %}

{% macro render_select(field) %}
	<div class="row">
		{{field.label}}
		{{ field(**kwargs)|safe }}
	</div>
{% endmacro %}

{% macro render_select2(field, name, dic_terminos ='') %}
    
    <div class="input-field">

    <select multiple id="{{name}}" name="{{name}}">
        <option value="" disabled>Elije uno o varios terminos</option>
        {% for item in field.query_factory() %}
        	 {% if item in dic_terminos %}
			<option value="{{item}}" selected>{{item}}</option>
        	 {% else %}
			<option value="{{item}}">{{item}}</option>
			{% endif %}
		{% endfor %}
        
    </select>
    {{field.label}}
	</div>
{% endmacro %}

{% macro render_select3(field, name, dic_terminos ='') %}
    
    <div class="input-field">

    <select id="{{name}}" name="{{name}}">
        <option value="" disabled>{{name}}</option>
        {% for item in field.query_factory() %}
        	 {% if item in dic_terminos %}
			<option value="{{item}}" selected>{{item}}</option>
        	 {% else %}
			<option value="{{item}}">{{item}}</option>
			{% endif %}
		{% endfor %}
        
    </select>
    {{field.label}}
	</div>
{% endmacro %}

{% macro render_file(field, value) %}
<div class="row">
<div class="file-field input-field">
      <div class="btn">
        <span>FOTO</span>
        {{field(value=value)}}
        {{field(**kwargs)|safe}}
        
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Sube una imagen">
      </div>
    </div>
</div>
{% endmacro %}