<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
	crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% if user %}
    <script>
    	$( document ).ready(function(){
    	$(".dropdown-trigger").dropdown();
    	});
    </script>
    {% if  user.nivel == 100 %}
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/noticia">Vista Noticias</a></li>
        <li><a href="/termino">Término</a></li>
        <li><a href="/excluyente">Términos Excluyentes</a></li>
        <li><a href="/medio_excluyente">Medios Excluyentes</a></li>
        <li><a href="/categoria">Categoría</a></li>
        <li><a href="/medio">Medio</a></li>
        <li><a href="/imagen">Imágenes</a></li>
        <li><a href="/user">Clientes</a></li>
	</ul>
  {% endif %}
 	  <nav>
    
    <div class="nav-wrapper blue darken-4">
      {% if  user.nivel == 100 %}
      <ul id="nav-mobile" class="left">
      	<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Menú<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      {% endif %}
      <ul id="nav-mobile" class="right">
      	<li class="right"><a href="/logout"><i class="large material-icons">power_settings_new</i></a></li>
      	<li class="right"><a href="#">Bienvenido {{ user.user }} </a></li>

        </ul>

      </a>
    </div>
  </nav>
  {% endif %}