<!DOCTYPE html>
<html>
<head>
	<title>Portal Noticias</title>
	{% include 'header.html' %}
</head>

<body>


<div>
  <div class="row valign-wrapper">
    <div class="row">
      <div class="card blue darken-1">
        <div class="card-content white-text">
          <span class="card-title">Ingrese al sistema</span>
          <p>

	{% from "_loginform.html" import render_field %}
			<form method="POST">
			<input type="hidden" name ="csrf_token" value="{{ csrf_token() }}">
			{{ render_field(form.user) }}
			{{ render_field(form.passwd) }}
			<button class="btn waves-effect waves-light" type="submit" name="action">Login
		    	<i class="material-icons right">send</i>
		  	</button>
			</form>
        </div>
      </div>
    </div>
  </div>
</div>




<center>
  <div class="row">
    <div class="col s12 m5">



</div>
</div>
</center>
</body>
</html>