<!DOCTYPE html>
<html>
<head>
	<title>Perfil de usuario {{ user.user }}</title>
	{% include 'header.html' %}
</head>
<body>
    {% if mensaje != '1' %}
    <script>
      M.toast({html: 'Error, No tiene los permisos necesarios' })
    </script>
    {% endif %}

<div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"></span>
          {% if user.nivel == 100 %}
          <h5>Perfil : Administrador</h5>
          <hr>
          <h6>Términos de búsqueda.</h6>          
          <p><b>Todos</b></p>
          {% else %}
        {% if user.nivel == 10 %}
        <h5>Perfil : Usuario - Full</h5>
        {% endif %}
        {% if user.nivel == 5 %}
        <h5>Perfil : Usuario - Mid</h5>
        {% endif %}
        {% if user.nivel == 1 %}
        <h5>Perfil : Usuario - Básico</h5>
        {% endif %}

		  <hr>
          <h6>Términos de búsqueda.</h6>
          
          {% if user.get_terminos(0) %}
          {% for t in user.get_terminos(0) %}
          {{t}},
          {% endfor %}
          {% endif %}
          <hr>
		  <p> Numero de términos de Mercado: {{user.get_terminos(1)|count}}<br>    Numero de términos que no son de Mercado: {{user.get_terminos(2)|count}}<br>
      Numero de términos totales: {{user.get_terminos(0)|count}}</p>
		  {% endif %}
        </div>
        {% if user.nivel == 100 %}
        <div class="card-action">
          <a href="/user/{{user.id}}/">Editar</a>
          <a href="#"></a>
        </div>
        {% endif %}
      </div>
	<!--p> Perfil de usuario {{ user }} </p>
	<a href="/logout">Logout</a-->
</body>
</html>